extends ../layout

block content
  .show-page

    if(user) 
      if(login)
        a(href="/users/edit/" + user._id)
          h1= user.email
          a(href="/users/" + user._id + "/slips/new" id="new-slip") new 

      if(!login)
        h1= user.email

      for slip in user.slips
        .slip-wrapper
          .icon-wrapper 
            .info
              p hours - #{slip.totalHours}
              p date  - #{slip.formatedDate}
            .icons
              // if(login)
              //   span.edit
              //   span.trash
          .tabs
            p.tab.language= slip.language
            p.tab.sub-languages= slip.sub_languages
            p.tab.study-type= slip.study_type
        a(href=slip.url target="_blank")= slip.resource_title
        p= slip.description


      
